<html>
<title>test</title>
<script type="text/javascript" src="scripts/jquery.min.js"/>
</script>
<script type="text/javascript" src="scripts/jquery-ui.js">
</script>
<script>
	$(function() {
		$("#tags").autocomplete({
			source: ["test", "testagain","sprint"]
		});
	});
</script>
<script>
	$(function() {
		$( "#words" ).autocomplete(
			 '/detail/',
           {multiple: true, multipleSeparator: ' '}
		);
	});
</script>
<body>
<p>This is a test. {{ gogogo }}</p>

<div class="ui-widget">
	<label for="tags">Tags: </label>
	<input id="tags">
	<label for="words">words:</label>
	<input id="words">
	
</div>

</div>
</body>
</html>