<html>
<head>
<title>test</title>
<link rel="stylesheet" href="http://jqueryui.com/themes/base/jquery.ui.all.css">
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'></script>

<script>
	$(document).ready(function() {
		$("#tags").autocomplete({
			source: ["test", "testagain","sprint"]
		});
	});
</script>
<script>
	$(document).ready(function() {
		$( "#words" ).autocomplete(
			 '/detail/',
           {multiple: true, multipleSeparator: ' '}
		);
	});
</script>
</head>
<body>
<p>This is a test. {{ gogogo }}</p>

<div class="ui-widget">
	<label for="tags">Tags: </label>
	<input id="tags">
	<label for="words">words:</label>
	<input id="words">
	
</div>

</div>
</body>
</html>